.attribution {
  font-family: "Red Hat Display", sans-serif;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
h3 {
  margin: 0px;
}
h4 {
  margin-top: 15px;
  margin-bottom: 0px;
  width: 200px;
}
p {
  margin: 0px;
}
ul {
  padding: 0px;
  text-align: start;
  width: 180px;
}
body {
  background-color: hsl(225, 100%, 94%);
  margin: 0px;
}
.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: inherit;
  background-repeat: no-repeat;
  background-size: contain;
}
.card {
  height: 480px;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 150px 150px 80px;
  grid-template-areas: "image" "text" "exp";

  border-radius: 18px;
  background: white;
  text-align: center;
}
.card-image {
  grid-area: image;
  background: url("../images/volcano-with-mist-sunset.jpg");
  border-radius: 15px 15px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-text {
  grid-area: text;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: auto;
  grid-template-areas: "title" "body";
  text-align: center;
}
.text-title {
  grid-area: title;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(223, 47%, 23%);
  padding-top: 16px;
}
.text-body {
  grid-area: body;
  height: 50px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: hsla(223, 47%, 23%, 0.5);
  padding: 0px 16px 0px 16px;
}
.card-exp {
  margin: 0px 16px 0px 16px;
  grid-area: exp;
  height: 165px;
  display: grid;
  grid-template-columns: 80px;
  grid-template-rows: auto;
  grid-template-areas:
    "title"
    "desc";

  background-color: hsl(225, 100%, 98%);
  border-radius: 18px;
}
.exp-title {
  grid-area: title;

  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: hsl(223, 47%, 23%);
}
.exp-description {
  grid-area: desc;
  padding-left: 20px;

  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: hsla(223, 47%, 23%, 0.5);
}
